<h1>Fotoblog de Rene Arreola (<%= @cantidadMensajes%>)</h1>

<%= link_to 'Nuevo mensaje', :action => 'nuevo_mensaje'%>

<%= will_paginate @mensajes %>

<% for mensaje in @mensajes %>
<div class="medium-2 columns fondo">
	<p>
          <%= mensaje.titulo %>
	</p>
	<label>
		<%= mensaje.descripcion %>
	</label>
	<label>
		 <%= image_tag mensaje.imagen.thumb.url %>
	</label>
	<label>
		  <%= mensaje.created_at.strftime("%X %p")%>
     <%= mensaje.id %>
     </label>
    
 </div>
 <%end%>

