<label id="nuevo", class='nuevo'>(<%= @cantidadMensajes %>)</label>


<label id="liga"><%= link_to 'Nuevo_mensaje', :action => 'nuevo_mensaje'%></label><br/>

<div class="row">
  

<% for mensaje in @mensajes %>
<div class="medium-2 columns fondo">
	<p class="titulo">
          <%= mensaje.titulo.upcase %>
	</p>
	<label class="text-center imagen">
		<%= image_tag mensaje.imagen.thumb.url %>
	</label>
	
	<label class="text-center descripcion">
		<%= mensaje.descripcion.capitalize.at(0..20)+ "..."%> 
	</label>
	
	<label class="text-right fecha">
		  <%= mensaje.created_at.strftime("%X %p")%>
     
     </label>
    
 </div>
 <%end%>

  </div>












