<h1>Fotoblog de Rene Arreola (<%= @cantidadMensajes%>)</h1>

<%= link_to 'Nuevo mensaje', :action => 'nuevo_mensaje'%>
<table border ="1">
  <tr>
      <th> Id/</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Imagen</th>
</tr>
<% for mensaje in @mensajes %>
 <tr>
      <td> <%= mensaje.id %> </td>
      <td><%= mensaje.titulo %></td>
      <td><%= mensaje.descripcion %></td>
      <td><%= image_tag mensaje.imagen.thumb.url %></td>
</tr>
 <%end%>


</table>
<%= will_paginate @mensajes %>
