
<h1>Nuevo Mensaje</h1>

<%= form_tag({:action => :guardar_mensaje}, :multipart => true) do%>

     <label for ='mensaje_titulo'>Titulo<label>
     <br/>
     <%= text_field 'mensaje', 'titulo'%>

 <br/>
     <label for ='mensaje_descripcion'>Descripcion<label>
     <br/>
     <%= text_area 'mensaje', 'descripcion'%>
     <br/>
     
     <label for ='mensaje_imagen'>Imagen<label>
     <br/>
     <%= file_field 'mensaje', 'imagen'%>
     <br/>

     <%= submit_tag 'Guardar'%>

<%end%>